In [6]:
!wget https://raw.githubusercontent.com/brolin59/trnlp/master/trnlp/data/ana_sozluk.txt

--2021-02-14 19:22:02--  https://raw.githubusercontent.com/brolin59/trnlp/master/trnlp/data/ana_sozluk.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.108.133, 185.199.111.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2489011 (2.4M) [text/plain]
Saving to: ‘ana_sozluk.txt’

ana_sozluk.txt      100%[===================>]   2.37M  --.-KB/s    in 0.1s

2021-02-14 19:22:03 (21.6 MB/s) - ‘ana_sozluk.txt’ saved [2489011/2489011]

In [10]:
import pandas as pd
data = pd.read_csv("ana_sozluk.txt", sep='\t', lineterminator='\r')

In [11]:
data.head()

            a       ünlem      0 0.1           0.2         a(ünlem)
0        \nab        isim      0   0     Farsça āb         ab(isim)
1       \naba  isim,sıfat      0   0             0  aba(isim,sıfat)
2     \nabacı  isim,sıfat      0   0             0  aba(isim,sıfat)
3  \nabacılık        isim  UZYUM   0             0  aba(isim,sıfat)
4     \nabadi        isim      0   0  Farsça ābādī      abadi(isim)

In [12]:
data["a"] = data["a"].apply(lambda line : line.replace("\n",""))

In [13]:
data.head()

          a       ünlem      0 0.1           0.2         a(ünlem)
0        ab        isim      0   0     Farsça āb         ab(isim)
1       aba  isim,sıfat      0   0             0  aba(isim,sıfat)
2     abacı  isim,sıfat      0   0             0  aba(isim,sıfat)
3  abacılık        isim  UZYUM   0             0  aba(isim,sıfat)
4     abadi        isim      0   0  Farsça ābādī      abadi(isim)

In [14]:
data_clear = data[(data.ünlem == "sıfat") | (data.ünlem == "zarf") | (data.ünlem == "fiil")]

In [19]:
data_adverb = data_clear[(data.ünlem == "zarf")] 
data_verb = data_clear[(data.ünlem == "fiil")]
data_adjective = data_clear[(data.ünlem == "sıfat")]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until

In [25]:
verb_list = data_verb.a.tolist()
adverb_list = data_adverb.a.tolist()
adj_list = data_adjective.a.tolist()

In [31]:
def list2text(file_name,vocab):
  with open(file_name, "w") as fhandle:
    for w in vocab:
      fhandle.write(f'{w}\n')

In [32]:
list2text("tr_verb.txt",verb_list)
list2text("tr_adverb.txt",adverb_list)
list2text("tr_adj.txt",adj_list)